/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/**********************BODY****************************/

body {
	background: url("../img/fabric.png");
}




/**********************HEADERS****************************/

h1 {
	color: #5290C8;
	font-size: 2.2em;
	font-family: 'Cardo', serif;
}

h2 {
	font-size: 2em;
	color: #90B6CB;
	font-family: 'Cardo', serif; 
	font-weight: 700; 
	font-style: bold;
}

h3 {
	font-size: 1.7em;
	color: #90B6CB;
	font-family: 'Cardo', serif; 
	font-weight: 400; 
	font-style: italic;
}


/**********************COLORS****************************/
.color-1 {
	background-color: #5290C8;
}

.color-2 {
	background-color: #90B6CB
}

.color-3 {
	background-color: #57A6C4;
}

.color-4 {
	background-color: #2F84A9;
}

.color-5 {
	background-color: #C6CAD3;
}

.color-6 {
	background-color: #38424E;
}

/**********************PATTERNS****************************/

.pattern-3 {
	background-color: #38424E;
}






/*********************PARAGRAPH*****************************/

p {
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.2em;
}

/**********************CONTAINER****************************/

.container {
	width: 60%;

}




/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #000;
	float: left;
	margin: 10px 10px;
	height: 100px;
	width: 100px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}